extends layout

block content
    h1= title
    p #[strong Name:] #{author.name}
    if book_list.length
        p This author are referenced to the following books. These books must be deleted before deleting the author:
        div(style='margin-left:20px;margin-top:20px')
            h2 Books:
            ol
                each book in book_list
                    li
                        a(href=book.url) #{book.title}
                        p= book.summary
    else
        p Do you really want to delete this author?
        hr
        form(method='POST')
            input.form-control(type='hidden' name='authorid' value=author._id)
            button.btn.btn-primary(type='submit') Delete
