extends lb-layout

block main-content
    h1 ID: #{bookinstance._id}
    div(style='margin-left:20px;margin-top:20px')
        p #[strong Title:]
            a(href=bookinstance.book.url)  #{bookinstance.book.title}
        p #[strong Imprint:] #{bookinstance.imprint}
        if bookinstance.status == "Available"
            p.text-success #{bookinstance.status}
        else if bookinstance.status == "Maintenance"
            p.text-danger #{bookinstance.status}
        else 
            p.text-warning #{bookinstance.status}
        if bookinstance.status != "Available"
            p #[strong Date when book available:]  #{bookinstance.due_back_formatted}
        hr
        p
            a(href=bookinstance.url +'/delete') Delete book instance
        p
            a(href=bookinstance.url +'/update') Update book instance
